$primary:   #524A4A;
$secondary: #655C5C;
$success:   #FDB584;
$light:     #dacfcf;
$body-bg:    $secondary;
$body-color: $light;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Roboto:wght@400;700;900&display=swap');

$font-family-sans-serif: "Noto Sans TC", "Roboto", "sans-serif";

$enable-rfs: false;

$input-btn-focus-width: 0;